/* Settings */
*{
    margin: 0%;
    font-family: "Chocolate Classical Sans", sans-serif;
    font-style: normal;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* Color Variables */
:root{
    /* Background: #0F172A (deep navy)*/
    --background-color: #0F172A;
    /* Primary UI: #1E293B (slate blue) */
    --prymary-ui-color:  #1E293B;
    /* Accent (buttons, clues): #EAB308 (gold) */
    --accent-color: #EAB308;
    /* Secondary Accent: #DC2626 (danger red) */
    --secondary-accent-color: #DC2626;
    /* Text (primary): #F8FAFC (near white) */
    --text-primary-color: #F8FAFC;
}
/* Header */
nav{
    background: #0f172af0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
    width: -webkit-fill-available;
    top: 0%;
    img{
        height: 70px;
        width: 70px;
    }
    ul{
        gap: 20px;
        list-style: none;
        display: flex;
    }
    a{
        color: var(--text-primary-color);
        margin-right: 20px;
    }
    a:hover{
        transition: ease-in-out 0.3s;
        color: var(--accent-color);
    }
    
}
#Contact{
    color: var(--text-primary-color);
    background-color: var(--background-color);
    padding: 7px 13px;
    border: solid 2px var(--text-primary-color);
    border-radius: 5px;
}
#Contact:hover{
    color: var(--background-color);
    background-color: var(--text-primary-color);
    transition: 0.3s ease-in-out;
    border: var(--background-color) 2px solid;
}
#backgroundImage{
    background-image: url("Assets/ChatGPT Image 19 déc. 2025, 19_58_06.png");
    background-size: cover;
    height: 100vh;
    color: var(--text-primary-color);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    h1{
        font-size: 60px;
    }
   
}
.buttons{
    display: flex;
    gap: 50px;
    a:first-child{
        color: var(--background-color);
        background-color: var(--accent-color);
        padding: 7px 13px;
        border: 2px var(--accent-color) solid;
        border-radius: 5px;
    }

    a:first-child:hover{
        color: var(--accent-color);
        transition: ease-in-out 0.3s;
        border: var(--accent-color) solid 2px;
        background-color: #1e293b7d;
    }
   
     
}
.banner-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
/* advantages Section */
.container-avantages{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    div{
        display: flex;
        flex-direction: column;
        gap: 15px;
        h2{
            font-size: 40px;
        }
    }
}
#avantages{
    background-color: #fcfaf824;
    padding-left: 40px;
    padding-right: 40px;
}
.container-cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
    div{
        width: 300px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        gap: 20px;
        span{
            font-size: 50px;
        }
    }
}
/* Section Activité */
#products{
    background-color: var(--prymary-ui-color);
    color: var(--text-primary-color);
}
#events{
    padding-bottom: 50px;
    background-color: var(--prymary-ui-color);
    color: var(--text-primary-color);
}
.text-activity{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2{
        font-size: 40px;
    }
}
.card-container{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 80px;
    div{
        box-shadow: 0 0 15px var(--background-color);
        background-color: #1e2f3b85;
        height: 400px;
        width: 250px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        padding: 10px;
        transition: ease-in-out 0.3s;
        p{
            text-align: center;
        }
    }
    div:hover{
        transform: scale(1.1);
        border-radius: 5px;
        background-color: var(--text-primary-color);
        color: var(--background-color);
        transition: ease-in-out 0.3s;
        img{  
            border-radius: 5px;
        }
    }
} 

.reviews-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    div{
        height: 450px;
        width: 280px;
        padding: 15px;
        background-color: #1e223b14;
        box-shadow: 0 0 15px #2d2d2d38;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h4{
            font-size: larger;
        }
        strong{
            font-style: italic;
        }
        p{
            text-align: center;
            font-style: italic;
        }
        span{
            color: var(--accent-color);
            font-weight: bold;
        }
    }
}


.eventImages{
    height: 200px;
    width: 200px;
}

footer{
    padding-top: 50px;
    padding-bottom: 30px;
    color: #F8FAFC;
    background-color: var(--background-color);
    div:first-child{
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        ul{
            a{
                color: #F8FAFC;
            }
            gap: 5px;
            list-style: none;
        }
    }
    img{
        height: 70px;
        width: 70px;
    }
    div:last-child{
        margin-top: 20px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
    .cc{
        display: flex;
        /* justify-content: center; */
        list-style: none;
        text-decoration: underline;
        gap: 30px;
        margin-right: 10px;
    }
}
#companyName{
    display: flex;
    justify-content: center;
    font-size: 80px;
}
#witness{
    padding-top: 50px;
    h2{
        font-size: 40px;
        text-align: center;
    }
    p{
        padding-top: 25px;
        text-align: center;
    }
}
#reserveThis{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 20px;
    div{
        display: flex;
        flex-direction: column;
    }
}
.twoInputs{
    display: flex;
    flex-direction: row;
    div{
        display: flex;
        flex-direction: column;
    }
}