*{
  font-family: "Chocolate Classical Sans", sans-serif;
  font-style: normal;
}
:root{
    /* Background: #0F172A (deep navy)*/
    --background-color: #0F172A;
    /* Primary UI: #1E293B (slate blue) */
    --prymary-ui-color:  #1E293B;
    /* Accent (buttons, clues): #EAB308 (gold) */
    --accent-color: #EAB308;
    /* Secondary Accent: #DC2626 (danger red) */
    --secondary-accent-color: #DC2626;
    /* Text (primary): #F8FAFC (near white) */
    --text-primary-color: #F8FAFC;
}
header{
    img{
        height: 70px;
        width: 70px;
    }
}

/* .container-avantages{

}
.container-cards{

}
.card-container{

} 
.reviews-container{

}
*/

.eventImages{
    height: 200px;
    width: 200px;
}
